html, body {
  margin: 0;
  height: 100%;
}

h1 {
  margin-top: 0;
  color: gray;
  text-align: center;
}

#root {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
