html, body {
  margin: 0;
  height: 100%;
}

h1 {
  margin-top: 0;
  color: lightgray;
  text-align: center;
  background-color: rgb(75, 75, 75);
}

#root {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
