html {
  background-color: rgb(110, 110, 110);
  color: lightgray;
}

html, body {
  margin: 0;
  height: 100%;
}

h1 {
  margin: 0;
  height: 30px
  color: lightgray;
  text-align: center;
  background-color: rgb(75, 75, 75);
  font-size: 25px;
}

#root {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
